.area {

    height: 100%;
}

#top{

    position: relative;
    height: 60px;
    width: 100% + 100px;
    top: -21px;
    left: -50px;
    
    margin-right: -58px;
    padding-top: 16px;
    margin-bottom: -21px;

    
    color: #999;
    background-color: #212121;
    text-align: center;

}

#zawartosc_div{

    text-align: center;
    
    background-color: #2b2a2a;

    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;

}


#zawartosc_a{
    
    width:100%; 
    
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    text-decoration: none;
}

#zawartosc_emb{

    width:95%; 
    height:600px;
    margin-left: auto;
    margin-right: auto;

}

.tworcy li{

    font-size: 50px;

    background: linear-gradient(
        to right,
        #52c0ff 20%,
        #ff4949 40%,
        #44ff4d 60%,
        #52c0ff 80%
        
        
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s linear infinite alternate;

}

@keyframes textShine{
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.tworcy{

    list-style-type: none;

    position: relative;
    height: 300px;
    width: 100% + 100px;
    left: -65px;
    
    margin-right: -58px;
    margin-bottom: -21px;

    padding-top: 100px;

    text-align: center;

  }

p{

    position: relative;
    margin-top: -12px;

    color: #a0a0a0 !important;
    font-size:25px;
    
}

body{

    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("https://wallpapers.com/images/hd/casino-background-67ppr1q6d49pwpaz.jpg");
    background-size: 100vw 100vh;

}

.jakgrac{

    padding-top:35px;
    position: relative;
    margin-top: -12px;
    list-style-type: none;
    color: #ffffff !important;
    font-size:25px;
    word-wrap: normal;

}

#statystykia table,th,td{

border: none;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 10px;
padding-right: 10px;

color: white;
font-size: 20px;
}

#statystyki{
    position: relative;
    height: 100px;
    width: 100% + 100px;
    left: -50px;
    
    margin-right: -58px;
    
    padding-top: 16px;
    padding-left: 50px;
    margin-bottom: 30px;

    background-color: #212121;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

app_historiagier

#historiazagranych div{

    display: block;

    width: 80%;
    height: auto; 
    padding-top: 50px;

}

.historiazagranych table{

    display: flex;
    align-items: center;
    justify-content: center;

}

.historiazagranych tr{

    height: 40px ;    
    text-align: center;
}

.historiazagranych td{

    width: 231px;    
    text-align: center;
}
