{% extends 'base.html.twig' %}

{% block title %}Dokumentacja projektu{% endblock %}

{% block body %}
	<h1>Dokumentacja z projektu.</h1><br>
	<a href="dokumentacja/przypadki_uzycia.txt">Przypadki użycia</a>
{% endblock %}
