{% extends 'base.html.twig' %}

{% block title %}Dokumentacja projektu{% endblock %}

{% block body %}
	<h1>Dokumentacja z projektu.</h1><br>
	<a href="/dokumenty/przypadki_uzycia.txt" download>Przypadki użycia</a>
{% endblock %}
