{% extends 'base.html.twig' %}
{% block title %}Dokumentacja projektu{% endblock %}

{% block body %}

<link href="{{ asset('dokumenty.css') }}" rel="stylesheet"/> 

	<h1 id="top">Dokumentacja projektu</h1>
	

	{#do kolejnych dokumentów kopiować dół i zmnienić href i src#}
	<div id="zawartosc_div">
	<a href="/przypadki_uzycia.txt" id="zawartosc_a" download>Przypadki użycia</a><br>
	<embed src="/przypadki_uzycia.txt" id="zawartosc_emb">
	</div>

		<div id="zawartosc_div">
	<a href="/wymagania.txt" id="zawartosc_a" download>Dokumentacja gry Blackjack </a><br>
	<embed src="/wymagania.txt" id="zawartosc_emb">
	</div>
{% endblock %}
