{% extends 'base.html.twig' %}
{% block body %}
<link href="{{ asset('dokumenty.css') }}" rel="stylesheet"/>

    <h1 id="top">Projekt stworzony przez</h1>
        <ul class="tworcy">
        <li>Sebastian Sawicz 13979<br></li><p class="email">sawicz1397@nauka.panschelm.edu.pl</p>
        <li>Gabriel Troć 13963<br></li><p class="email">troc13963@nauka.panschelm.edu.pl</p>
        <li>Michał Korniszuk 13926<br></li><p class="email">korniszuk13926@nauka.panschelm.edu.pl</p>
        <li>Mateusz Charęża 13944<br></li><p class="email">chareza13944@nauka.panschelm.edu.pl</p>
        </ul>
{% endblock %}
