{% extends 'base.html.twig' %}
{% block head %}
{% block title %}Giera{% endblock %}
<script type="text/javascript" src="{{ asset('/js/game.js') }}"></script>
<link href="{{ asset('/gra.css') }}" rel="stylesheet"/> 
{% endblock %}
{% block body %}
        <div class="BlackJack">
            <h1>Black Jack</h1>
        </div>
                <div class="zakoncz">
                    <span id="ZakonczenieGry"></span>
                </div>
                <div id="box"> 
                    <div class="Gracz">
                        <h2> Gracz: <span id="WynikGracza">0</span></h2>

                        <div class="KartyGracz" id="KartyGracz">   </div>
                    </div>

                        <div class="Si">
                        <h2> Rozdający: <span id="WynikSi">0</span></h2>

                        <div class="KartySi" id="KartySi">  </div>
                    </div>
                </div>

                    <div class="main">
                    <div>
                        <button onclick="Dobierz()"> Dobierz</button> 
                        <button onclick="Zostan()"> Zostan </button>
                        <button onclick="Rozdaj()"> Rozdaj </button>
                    </div>

                <div>
                    <h3> Tablica wyników: </h3>
                    <table>
                        <tr>
                            <th> Wygrane </th>
                            <th> Przegrane </th>
                            <th> Remisy </th>
                        </tr>
                        <tr>
                            <td><span id="Wygrana">0</span></td>
                            <td><span id="Przegrana">0</span></td>
                            <td><span id="Remis">0</span></td>
                        </tr>
                    </table>
                </div>
        </div>
        <div>
{% for x in bazadanych %}
    {{x.id}},{{x.username}}<br>
{% endfor %}
        </div>

{% endblock %}